<?xml version="1.0">
<behaviors>
    <behavior>
        <name></name>
        <applyTo>
            <package></package>
            <class></class>
            <method></method>
        </applyTo>
    </behavior>
</behaviors>